<h2 class="text-center text-primary p-3">{{welcomeData}}</h2>
<div class="container w-75 text-center mt-3">
    <h1>Login Form</h1>
    <form class="border p-5 bg-info" action="" style="border-radius: 20px;">
        <div class="p-2 mt-2">
            <input [(ngModel)]="uname" class="form-control mt-3" type="text" id="accNumber"
                [placeholder]="placeHolderData" name="accNo" required>
        </div>
        <div class="p-2 mt-2">
            <input [(ngModel)]="psw" class="form-control mt-3" type="password" id="passwd" placeholder="Password"
                name="passwd" required>
        </div>
        <div>
            <button (click)="login()" class="btn btn-success mt-3" type="button">Login</button>
        </div>
    </form>
</div>
<div class="container text-center bg-warning mt-3 p-3 w-75" style="border-radius: 20px;">
    <h3>Dont have an account, Sign Up!</h3>
    <button class="btn btn-primary" routerLink="register">Sign Up</button>
</div>