<div class="container home">
    <h1 class="text-center">Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, esse? Cupiditate modi praesentium unde placeat
        totam
        tenetur explicabo nemo delectus, quaerat earum id facere ipsa maiores sapiente, molestias asperiores error.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quo repellat repellendus voluptatum architecto,
        porro sapiente eveniet fugiat sunt nam doloremque eos asperiores iure ipsa expedita debitis. Quae, voluptatum
        excepturi.
        Eum beatae explicabo itaque repellat, dolorem voluptates veritatis magnam incidunt! Molestiae unde voluptas
        veniam. Ducimus iusto eos facere dolorem, autem eveniet eius minima totam recusandae quasi voluptate unde
        molestiae reiciendis!
        Excepturi nihil nostrum consequuntur blanditiis temporibus alias, facere cumque quae impedit eos maiores
        adipisci, minus error quos. Est iusto, tempore consectetur quas atque unde voluptatum, ipsa qui saepe, quo
        consequatur!
        Quaerat aliquam similique nemo debitis modi in dignissimos vero exercitationem, error adipisci autem itaque
        sapiente repellendus blanditiis odit dicta rerum sed, iure magnam? Quo asperiores nostrum blanditiis quas et
        iusto.
        Consequatur voluptatibus vel maxime, quae beatae iste perspiciatis id sint velit architecto, illum repudiandae
        dolorum facere odio! Incidunt, cumque. Repellat accusantium sunt est eius ab, sapiente aliquid sit repudiandae
        iste.
    </p>
    <button class="btn btn-primary">Learn More</button>
</div>